%a(ui-sref='user.info({userId: user.id})')
%a(ui-sref='user.interview({userId: user.id})')
.row
  .col-md-3.panel.panel-default.mrg_r20
    .panel-body
      %h2 Advocacy Healthcare
  .col-md-3.panel.panel-default.mrg_r20
    .panel-body
      %h2 Visiting a Clinic
  .col-md-3.panel.panel-default
    .panel-body
      %h2 Advocare Library


