%a(ui-sref='user.info({userId: user.id})')
%a(ui-sref='user.interview({userId: user.id})')
.jumbotron 
  %p Advocare's goal is to empower health seekers through education and direct links to healthcare professionals. Through technology and continous participation, patient move quickly into an appointment, circumvent the waiting room, and reduce the number of unecessary follow up visits. 

  %p Your Advocare community is made up of a team of professional, as well as family and community memebers chosen by you. This comprehensive team not only supports you in todays visit, but through a lifetime of health choices. Additionally as a reward for an participation, patients earn credits that can be applied to their healthcare preimiums.

.row
  .col-md-3.panel.panel-default.mrg_r20
    .panel-body
      %h2 Advocacy Healthcare
  .col-md-3.panel.panel-default.mrg_r20
    .panel-body
      %h2 Visiting a Clinic
  .col-md-3.panel.panel-default
    .panel-body
      %h2 Advocare Library


