%h2 Interview Questions
%form.form-horiontal(role='form')
  %h4 Does your rash look like any of these?
  .form-group.col-md-12
    %input(type='checkbox' name="lyme" ng-model='questions.rashes')
    %label.lyme_disease.img-thumbnail(for="lyme")
    %input(type='checkbox' name="measles" ng-model='questions.rashes')
    %label.measles.img-thumbnail(for="measles")
    %input(type='checkbox' name="nf" ng-model='questions.rashes')
    %label.nf.img-thumbnail(for="nf")
    %input(type='checkbox' name="qr" ng-model='questions.rashes')
    %label.qr.img-thumbnail(for="qr")
  

  .form-group.col-md-12
    %h4(for='trip') Where was your last trip?
    %div
      %input.form-control#trip(type='text' ng-model='questions.trip' placeholder='e.g. Burma')


  %h4 Have you been in an area where you could have been exposed to ticks?

  %label.radio-inline
    %input(type='radio' ng-model='questions.exposed' value='true') Yes
  %label.radio-inline
    %input(type='radio' ng-model='questions.exposed' value='false') No

  %h4 Have you experienced any difficulty moving?

  %label.radio-inline
    %input(type='radio' ng-model='questions.difficulty' value='true') Yes
  %label.radio-inline
    %input(type='radio' ng-model='questions.difficulty' value='false') No

  %button.btn.btn-success(type='submit' value='Submit') Submit
