%h2 Interview Questions
%form.form-horiontal(role='form')
  %h4 Does your rash look like any of these?
  %input(type='checkbox' ng-model='questions.rashes.lyme_disease')
  %input(type='checkbox' ng-model='questions.rashes.measles')
  %input(type='checkbox' ng-model='questions.rashes.necrotizing_fasciitis')
  %input(type='checkbox' ng-model='questions.rashes.qr_code')

  .form-group
    %label.control-label.col-sm-2(for='trip') Where was your last trip?
    .col-sm-7
      %input.form-control#trip(type='text' ng-model='questions.trip' placeholder='e.g. Burma')


  %h4 Have you been in an area where you could have been exposed to ticks?

  %label.radio-inline
    %input(type='radio' ng-model='questions.exposed' value='true') Yes
  %label.radio-inline
    %input(type='radio' ng-model='questions.exposed' value='false') No

  %h4 Have you experienced any difficulty moving?

  %label.radio-inline
    %input(type='radio' ng-model='questions.difficulty' value='true') Yes
  %label.radio-inline
    %input(type='radio' ng-model='questions.difficulty' value='false') No

  %button.btn.btn-success(type='submit' value='Submit') Submit
