<h2>Interview Questions</h2>
<form>
    <h4>In the past 3 months have you have wounds that are slow to heal?</h4>
    <input type="radio" name="question1" value="male">Yes<br />
    <input type="radio" name="question1" value="female">No

    <h4>In the past 3 months have you experienced low Blood Sugar episodes?</h4>
    <input type="radio" name="question2" value="male">Yes<br />
    <input type="radio" name="question2" value="female">No

    <h4>In the past 3 months have have you felt stressed or ill?</h4>
    <input type="radio" name="question3" value="male">Yes<br />
    <input type="radio" name="question3" value="female">No

    <h4>How are you feeling [1-10] about your control?</h4>
    <input type="radio" name="question4" value="1">1
    <input type="radio" name="question4" value="2">2
    <input type="radio" name="question4" value="3">3
    <input type="radio" name="question4" value="4">4
    <input type="radio" name="question4" value="5">5
    <input type="radio" name="question4" value="6">6
    <input type="radio" name="question4" value="7">7
    <input type="radio" name="question4" value="8">8
    <input type="radio" name="question4" value="9">9
    <input type="radio" name="question4" value="10">10

    <h4>Are you taking your meds as perscribed?</h4>
    <input type="radio" name="question5" value="male">Yes<br />
    <input type="radio" name="question5" value="female">No
</form>
