%div(ng-model='tabs.activeTab' bs-tabs='tabs')

%table.table.table-hover.table-striped
  %thead
    %th Date
    %th Name
    %th Reason for Visit
    %th Pre Visit
    %th Post Visit
  %tbody
    %tr
      %td 2014/01/03
      %td Dr. McMurphy
      %td Endochronologist
      %td Diabetes Check
      %td
        %a(href='#') Current Health Survey
      %td
        %a(href='#') Follow Up Care
    %tr
      %td 2014/01/01
      %td Jeanine Brown
      %td Caretaker
      %td Wellness Check
      %td
        %a(href='#')
      %td
        %a(href='#')
