<h2>Interview Questions</h2>
<form>
    <h4>Have you been in contact with extra-terrestrial life?</h4>
    <input type="radio" name="question1" value="male">Yes<br />
    <input type="radio" name="question1" value="female">No

    <h4>Where was your last trip?</h4>
    <input type="radio" name="question2" value="male">Yes<br />
    <input type="radio" name="question2" value="female">No

    <h4>Have you been in an area where you could have been exposed to ticks?</h4>
    <input type="radio" name="question3" value="male">Yes<br />
    <input type="radio" name="question3" value="female">No

    <h4>How are you feeling [1-10] about your control?</h4>
    <input type="radio" name="question4" value="1">1
    <input type="radio" name="question4" value="2">2
    <input type="radio" name="question4" value="3">3
    <input type="radio" name="question4" value="4">4
    <input type="radio" name="question4" value="5">5
    <input type="radio" name="question4" value="6">6
    <input type="radio" name="question4" value="7">7
    <input type="radio" name="question4" value="8">8
    <input type="radio" name="question4" value="9">9
    <input type="radio" name="question4" value="10">10
</form>
