%section.container(ng-controller="MyCtrl1")
	.jumbotron
	%h1 What brings you to the clinic today?
	%p 
		%a.btn.btn-primary.btn-lg(role="button") Routine Care
		%a.btn.btn-primary.btn-lg(role="button") Specific Issue
		%a.btn.btn-primary.btn-lg(role="button") Unsure
	%div(ng-model="tabs.activeTab" bs-tabs="tabs")>
	
	%div
		%h2 What is Follow Through Healthcare?
	%div(ng-model="tabs.activeTab" bs-tabs="tabs")
