#interview(ng-controller='usersController')
  %h4 From ME
  %ul
    %li
      = link_to 'Google Wikipedia Lime Disease', 'https://www.google.com/search?q=Google+Wikipedia+Lime+Disease&oq=Google+Wikipedia+Lime+Disease'
  %h4 From your Nurse
  %ul
    %li
      = link_to 'NIH + PubMed + Lime Disease', 'http://www.ncbi.nlm.nih.gov/pubmed/?term=lime+disease'
    %li
      = link_to 'NIH + PubMed + Reactions', 'http://www.ncbi.nlm.nih.gov/pubmed/?term=lime+disease+reactions'
  %h4 From your Pharmacist
  %ul
    %li
      = link_to 'NIH + PubMed + Treatment', 'http://www.ncbi.nlm.nih.gov/pubmed/?term=lime+disease+treatment'



