#library.col-md-9(ng-controller='usersController')
  %h3 Library
  %p Welcome to your Advocare Library. The place where we provide customized and reliable information from all our professionals directly to you!
  %div(ng-include='templates.library')