.mrg_l20{margin-left:20px;}
.navbar-default {
background-color: white;
}
.navbar-brand {text-indent: -99999px; background: url(../images/advocare.png) no-repeat 20px -5px  transparent;width: 300px;}

.jumbotron h1{font-size: 3em} 