#appointment(ng-controller='usersController')
  %h3 Appointments
  %iframe(src="http://www.google.com/calendar/embed?src=5amsolutions.com_khvbm10qmro4mhbfhn2rjh47d0%40group.calendar.google.com&ctz=America/New_York" style="border: 0" width="800" height="600" frameborder="0" scrolling="no")


