%section#team(ng-controller='interviewsController')
  %h3 Team
  %table.table.table-striped
    %thead 
      %th Name
      %th Role
      %th Affiliation
      %th Email
      %th Phone
    %tbody 
      %tr 
        %td Dr. McMurray
        %td Endochronologist
        %td Georgetown Hospital
        %td mcmurray@gh.com
        %td 1-703-555-1212
      %tr 
        %td Lily Chow
        %td Pharmacist
        %td Harris Teeter Pharmacy
        %td chow@harristeeter.com
        %td 1-703-555-1313
      %tr 
        %td Janine Jordan
        %td Niece
        %td Family
        %td chow@harristeeter.com
        %td 1-703-555-1313
