.navbar.navbar-default
  .navbar-header
    %a.navbar-brand
  %ul.navbar-left.nav.navbar-nav 
    %li
      %a My Healthcare
    %li
      %a Visiting a Clinic
    %li
      %a What is Advocacy Care?

  %ul.navbar-right.nav.navbar-nav.mrg_r20 
    - if user_signed_in?
      %li= link_to 'Account', edit_user_registration_path
      %li.mrg_r20= link_to 'Logout', destroy_user_session_path, method: 'delete'
      %li.hangout.pull-right.mrg_r20.mrg_t10{:id=>"createhangout-div"} Video-Chat
    - else
      %li.mrg_r20= link_to 'Login', new_user_session_path
      %li.mrg_r20= link_to 'Sign Up', new_user_registration_path
